.navbar {
    background: #6045E2;
    width: 250px;
    height: 700px;
    padding-top: 20px;
    
}
.nav {
    margin-bottom: 5px;
}
.link {
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
}
.link:hover {
    color: burlywood;
}
