.banner {
    width: 1250px;
    height: 180px;
    background-color: #FF769A;
}
.ava {
    width: 180px;
    height: 180px;
    background-color: rgb(243, 219, 8);
    margin-top: 20px;
    margin-bottom: 50px;
}
.profile-banner {
    display: flex;
}
.discription {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 15px;
}
.name {
    margin-bottom: 30px;
    color: #6045E2;
    font-weight: bold;
    font-size: 30px;
}
.data {
    margin-bottom: 8px;
}