.appWrapper {
/* display: grid; 
   width: 1400px;
  margin: 0 auto; */
/*   grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px; */
}

.header {
  grid-area: h;
  background: #6045E2;
}

.nav {
  display: flex;
  grid-area: n;
  background: #6045E2;
  color: white;
} 
.content {
  /* grid-area: c; */
  display: flex;
}

.appWrapperConntent {
  /* grid-area: c; */
  display: flex;
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
}

