.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems .dialog {
    padding: 10px;
}
.dialog {
    padding: 10px;
    text-decoration: none;
}
.dialogsItems .active {
    color: gold;
    text-decoration: none;
}
.messages {
    padding: 10px;
}
.message {

}