.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
    text-decoration-color: white;
}
.dialog {
    padding: 10px;
    text-decoration: none;
    color: white;
}
.dialogsItems .active {
    color: gold;
    text-decoration: none;
}
.messages {
    padding: 10px;
    color: white;
}
.messages .message {
    color: white;
}